.img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
.logo img{
    
    position: absolute;
    top:3%;
    left:3%;
    
    height:70px;
    width:70px;

    

    display: block;

    
    
}
.app{
    height: 100%;
    position: fixed;
}
.wel{
     
    font-size: 25px;
    color: rgb(23, 73, 16);
    text-align: left;
    position: absolute;
    top:45%;
    bottom:5%;
    left: 39%;
    right: 5%;
    height:50%;
    transform: translate(-20%,-20%);
    display: block; 
    
}
form {
     position: fixed;
     transform: translate(50%,50);   
    top: 30%;
    left: 58%;
    width: 350px;
    background: rgb(255, 255, 255);
    padding: 20px 20px 20px 20px;  
    border: 1px solid white;
    box-shadow: 1px 1px 1px 1px rgba(221, 214, 214, 0.815);

}
.net{
    border:0%;
    line-height: 55px;
    display: block;
    padding-bottom:20%;
    
}
.crys{
    font-size: 25px;
    color: #ec6911;
    display: block;
    border: 0%;
    padding-bottom:0px;
    
    
}
/*assign full width inputs*/


  
.hello{
    color: #032749;
}

  
input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display:block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #032749;
    
}
/*set a style for the buttons*/
.input-container {
        color: #032749;
}
  
button {
    background-color: #06539c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
/* set a hover effect for the button*/
  
button:hover {
    opacity: 0.8;
}
